In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [2]:
train= pd.read_csv('train.csv')
test= pd.read_csv('test .csv')

In [3]:
train=train.drop(['ZIP'], axis=1)
test=test.drop(['ZIP'], axis=1)

In [4]:
train.head()

,ID,PREFIX,SUFFIX,MARITAL,RACE,ETHNICITY,GENDER,BIRTHPLACE,CITY,STATE,COUNTY,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE
0,1,NaN,NaN,NaN,white,nonhispanic,F,Beverly Massachusetts US,Holden,Massachusetts,Middlesex County,1.517539e+05,9316.929057
1,2,Mrs.,NaN,M,white,hispanic,F,Townsend Massachusetts US,Chelsea,Massachusetts,Hampshire County,1.096723e+05,3545.476208
2,3,Mrs.,NaN,S,white,nonhispanic,F,Boston Massachusetts US,Arlington,Massachusetts,Middlesex County,9.851484e+05,8078.460265
3,4,NaN,NaN,NaN,white,nonhispanic,F,Brookline Massachusetts US,Springfield,Massachusetts,Worcester County,6.955607e+03,512.371734
4,5,Mr.,NaN,M,native,nonhispanic,M,Freetown Massachusetts US,Watertown,Massachusetts,Middlesex County,1.030810e+06,3637.117541

In [5]:
test.head()

,ID,PREFIX,SUFFIX,MARITAL,RACE,ETHNICITY,GENDER,BIRTHPLACE,CITY,STATE,COUNTY,HEALTHCARE_EXPENSES
0,1,NaN,NaN,NaN,white,nonhispanic,M,East Bridgewater Massachusetts US,Cambridge,Massachusetts,Middlesex County,977341.80200
1,2,Mr.,NaN,NaN,white,nonhispanic,M,Lexington Massachusetts US,Kingston,Massachusetts,Middlesex County,683440.03840
2,3,Mrs.,NaN,M,white,nonhispanic,F,Woburn Massachusetts US,Fall River,Massachusetts,Middlesex County,758751.65560
3,4,Mr.,NaN,M,white,nonhispanic,M,New Bedford Massachusetts US,Barnstable,Massachusetts,Barnstable County,79532.07604
4,5,NaN,NaN,NaN,white,nonhispanic,F,Danvers Massachusetts US,Lawrence,Massachusetts,Worcester County,93806.91339

In [6]:
test['PREFIX']= test['PREFIX'].fillna(test['PREFIX'].mode()[0])
test['MARITAL']= test['MARITAL'].fillna(test['MARITAL'].mode()[0])
test['SUFFIX']= test['MARITAL'].fillna(test['SUFFIX'].mode()[0])

In [7]:
train['PREFIX']= train['PREFIX'].fillna('Mrs.')
train['MARITAL']= train['MARITAL'].fillna(train['MARITAL'].mode()[0])
train['SUFFIX']= train['SUFFIX'].fillna(train['SUFFIX'].mode()[0])

In [8]:
test['PREFIX'].value_counts()

Mr.     2365
Mrs.    1300
Ms.      335
Name: PREFIX, dtype: int64

In [9]:
# from sklearn.preprocessing import LabelEncoder
# encoder=LabelEncoder()
# train['PREFIX']=encoder.fit_transform(train['PREFIX'])
# # df['Gender']=encoder.fit_transform(df['Gender'])

In [10]:
train['PREFIX'].value_counts()

Mrs.    7601
Mr.     6094
Ms.     1305
Name: PREFIX, dtype: int64

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   15000 non-null  int64
 1   PREFIX               15000 non-null  object
 2   SUFFIX               15000 non-null  object
 3   MARITAL              15000 non-null  object
 4   RACE                 15000 non-null  object
 5   ETHNICITY            15000 non-null  object
 6   GENDER               15000 non-null  object
 7   BIRTHPLACE           15000 non-null  object
 8   CITY                 15000 non-null  object
 9   STATE                15000 non-null  object
 10  COUNTY               15000 non-null  object
 11  HEALTHCARE_EXPENSES  15000 non-null  float64
 12  HEALTHCARE_COVERAGE  15000 non-null  float64
dtypes: float64(2), int64(1), object(10)
memory usage: 1.5+ MB

In [12]:
train['PREFIX'].value_counts()

Mrs.    7601
Mr.     6094
Ms.     1305
Name: PREFIX, dtype: int64

In [13]:
test['PREFIX'].value_counts()

Mr.     2365
Mrs.    1300
Ms.      335
Name: PREFIX, dtype: int64

In [14]:
train=train.apply(LabelEncoder().fit_transform)

In [15]:
train.head()

,ID,PREFIX,SUFFIX,MARITAL,RACE,ETHNICITY,GENDER,BIRTHPLACE,CITY,STATE,COUNTY,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE
0,0,1,0,0,4,1,0,32,118,0,8,4566,11287
1,1,1,0,0,4,0,0,308,52,0,7,3518,5385
2,2,1,0,1,4,1,0,38,8,0,8,8096,10252
3,3,1,0,0,4,1,0,49,247,0,13,131,936
4,4,0,0,0,2,1,1,105,274,0,8,8527,5555

In [16]:
train=pd.get_dummies(train,columns=['COUNTY','RACE','ETHNICITY','PREFIX'],drop_first=True)
train.head()
train.shape

(15000, 29)

In [17]:
train =train.loc[:,~train.columns.duplicated()]
train.shape

(15000, 29)

In [18]:
test=test.apply(LabelEncoder().fit_transform)

In [19]:
test.head()

,ID,PREFIX,SUFFIX,MARITAL,RACE,ETHNICITY,GENDER,BIRTHPLACE,CITY,STATE,COUNTY,HEALTHCARE_EXPENSES
0,0,0,0,0,4,1,1,74,41,0,8,2155
1,1,0,0,0,4,1,1,143,110,0,8,1707
2,2,1,0,0,4,1,0,318,75,0,8,1776
3,3,0,0,0,4,1,1,185,16,0,0,568
4,4,0,0,0,4,1,0,62,114,0,13,735

In [20]:
test=pd.get_dummies(test,columns=['COUNTY','RACE','ETHNICITY','PREFIX'],drop_first=True)
test.head()

,ID,SUFFIX,MARITAL,GENDER,BIRTHPLACE,CITY,STATE,HEALTHCARE_EXPENSES,COUNTY_1,COUNTY_2,...,COUNTY_11,COUNTY_12,COUNTY_13,RACE_1,RACE_2,RACE_3,RACE_4,ETHNICITY_1,PREFIX_1,PREFIX_2
0,0,0,0,1,74,41,0,2155,0,0,...,0,0,0,0,0,0,1,1,0,0
1,1,0,0,1,143,110,0,1707,0,0,...,0,0,0,0,0,0,1,1,0,0
2,2,0,0,0,318,75,0,1776,0,0,...,0,0,0,0,0,0,1,1,1,0
3,3,0,0,1,185,16,0,568,0,0,...,0,0,0,0,0,0,1,1,0,0
4,4,0,0,0,62,114,0,735,0,0,...,0,0,1,0,0,0,1,1,0,0

In [21]:
test =test.loc[:,~test.columns.duplicated()]
test.shape

(4000, 28)

In [22]:
y=train['HEALTHCARE_COVERAGE']
X=train.drop('HEALTHCARE_COVERAGE', axis=1)

In [23]:
from sklearn.preprocessing import StandardScaler
scalar = StandardScaler()
X= scalar.fit_transform(X)

In [24]:
X

array([[-1.73193534, -0.20463536, -0.37357443, ...,  0.25517439,
         0.9866228 , -0.30869119],
       [-1.7317044 , -0.20463536, -0.37357443, ..., -3.91888863,
         0.9866228 , -0.30869119],
       [-1.73147346, -0.20463536,  2.67684277, ...,  0.25517439,
         0.9866228 , -0.30869119],
       ...,
       [ 1.73147346, -0.20463536, -0.37357443, ...,  0.25517439,
        -1.01355858, -0.30869119],
       [ 1.7317044 , -0.20463536, -0.37357443, ...,  0.25517439,
         0.9866228 , -0.30869119],
       [ 1.73193534, -0.20463536, -0.37357443, ...,  0.25517439,
        -1.01355858, -0.30869119]])

In [25]:
y

0        11287
1         5385
2        10252
3          936
4         5555
         ...
14995     5759
14996     4504
14997     7174
14998     3494
14999     9416
Name: HEALTHCARE_COVERAGE, Length: 15000, dtype: int64

In [26]:
from sklearn.linear_model import LinearRegression

In [27]:
model = LinearRegression()

In [28]:
model.fit(X, y)

LinearRegression()

In [29]:
x_test=test.apply(LabelEncoder().fit_transform)

In [30]:
x_test= scalar.fit_transform(x_test)

In [31]:
y_pred = model.predict(x_test)

In [32]:
y_pred

array([6982.87910785, 6182.57085616, 7375.04316924, ..., 8335.06001727,
       8076.77227186, 9821.72499681])

In [33]:
sub=pd.read_csv('sample_submission.csv')

In [34]:
df_submission = pd.DataFrame({'ID':sub['ID'], 'HEALTHCARE_COVERAGE': y_pred})

In [35]:
df_submission

        ID  HEALTHCARE_COVERAGE
0        1          6982.879108
1        2          6182.570856
2        3          7375.043169
3        4          4026.908317
4        5          6911.892865
...    ...                  ...
3995  3996          8187.879932
3996  3997          5664.335794
3997  3998          8335.060017
3998  3999          8076.772272
3999  4000          9821.724997

[4000 rows x 2 columns]

In [36]:
df_submission.to_csv('sub123.csv', index=False)